<footer class="main-footer">
  <div class="main-footer-navbar">
    <div class="main-footer__nav">
      <div class="main-header-brand footer-brand">
        <a class="main-header-brand__img">
          <img src="../../../assets/images/navbar/Group.png" />
        </a>
        <span class="main-header-brand__title">DKO</span>
      </div>

      <nav class="main-nav main-footer-nav">
        <ul class="main-nav__items main-footer-nav__items">
          <li class="main-nav__item footer-nav_item">
            <a>Products</a>
          </li>
          <li class="main-nav__item footer-nav_item">
            <a>Features</a>
          </li>
          <li class="main-nav__item footer-nav_item">
            <a>Pricing</a>
          </li>
          <li class="main-nav__item footer-nav_item">
            <a>Resources</a>
          </li>
          <li class="main-nav__item footer-nav_item">
            <a>Careers</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="main-footer__newsletter">
      <span>Newsletter</span>
      <div class="main-footer__newsletter__subscribe">
        <input placeholder="johndoe@shuffle.dev" />
        <button class="card-feature__button footer-subscribe-btn">
          Subscribe
        </button>
      </div>
    </div>
  </div>

  <hr class="main-footer-divider" />

  <div class="main-footer-rights">
    <span>© 2022 DKO. All rights reserved.</span>
    <nav class="main-nav footer-rights__nav">
      <ul class="main-nav__items">
        <li class="main-nav__item footer-rights-nav_item">
          <a>Terms</a>
        </li>
        <li class="main-nav__item footer-rights-nav_item">
          <a>Privacy</a>
        </li>
        <li class="main-nav__item footer-rights-nav_item">
          <a>Cookies</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
