<div class="main-header-wrapper-navbar container">
    <div class="main-header-brand">
      <a class="main-header-brand__img">
        <img src="../../../assets/images/navbar/Group.png" />
      </a>
      <span class="main-header-brand__title">DKO</span>
    </div>
  
    <nav class="main-nav">
      <ul class="main-nav__items">
        <li class="main-nav__item">
          <a>About Event</a>
        </li>
        <li class="main-nav__item">
          <a>Terms</a>
        </li>
        <li class="main-nav__item">
          <a>Dress Code</a>
        </li>
        <li class="main-nav__item">
          <a>Partners</a>
        </li>
        <li class="main-nav__item">
          <a>Blog</a>
        </li>
      </ul>
  
      <ul class="main-nav__items">
        <li class="main-nav__item main-nav__item-contact">
          <a>CONTACT US</a>
        </li>
      </ul>
    </nav>

    <nav class="mobile-nav">
      <div class="mobile-nav-wrapper">
        <button class="toggle-button">
          <span class="toggle-button__bar"></span>
          <span class="toggle-button__bar"></span>
          <span class="toggle-button__bar"></span>
        </button>
      </div>
    </nav>
</div>