<section class="main-features">
  <div class="main-features-column">
    <div class="card-feature">
      <div class="card-feature__content__wrapper">
        <div class="card-feature__image__container">
          <img
            src="../../../assets/images/main-features/Rectangle 5.png"
            alt=""
            class="card-feature__image"
          />
        </div>
        <div class="card-feature__description__container">
          <h3 class="card-feature__description__header">
            event sound equipment
          </h3>
          <p class="card-feature__description__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo
            pellentesque risus diam nullam turpis. Nunc porttitor enim, sed
            fringilla convallis volutpat feugiat nam. Sit est arcu pretium diam
            dolor ut at mi. Purus montes, venenatis adipiscing nullam pulvinar
            tempor, pellentesque ac vulputate.
          </p>
        </div>
      </div>
      <button class="card-feature__button sound-equipment">
        HIRE FOR SOUND SYSTEM
      </button>
    </div>

    <div class="card-feature">
      <div class="card-feature__content__wrapper">
        <div class="card-feature__image__container">
          <img
            src="../../../assets/images/main-features/Rectangle 5 (2).png"
            alt=""
            class="card-feature__image"
          />
        </div>
        <div class="card-feature__description__container">
          <h3 class="card-feature__description__header">staging</h3>
          <p class="card-feature__description__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo
            pellentesque risus diam nullam turpis. Nunc porttitor enim, sed
            fringilla convallis volutpat feugiat nam. Sit est arcu pretium diam
            dolor ut at mi. Purus montes, venenatis adipiscing nullam pulvinar
            tempor, pellentesque ac vulputate.
          </p>
        </div>
      </div>
      <button class="card-feature__button">HIRE FOR LIGHTING</button>
    </div>
    <div
      class="card-feature__image__lines__container card-feature__image__lines__container__first"
    >
      <img
        src="../../../assets/images/main-features/Group (2).png"
        alt=""
        class="card-feature__image__lines"
      />
    </div>
  </div>

  <div class="main-features-column">
    <div class="card-feature__image__lines__container">
      <img
        src="../../../assets/images/main-features/Group (1).png"
        alt=""
        class="card-feature__image__lines"
      />
    </div>

    <h2 class="main-features__header main-category-header">WHAT WE DO</h2>

    <div class="card-feature">
      <div class="card-feature__content__wrapper">
        <div class="card-feature__image__container">
          <img
            src="../../../assets/images/main-features/Rectangle 5 (1).png"
            alt=""
            class="card-feature__image"
          />
        </div>
        <div class="card-feature__description__container">
          <h3 class="card-feature__description__header">
            spark Event Lighting
          </h3>
          <p class="card-feature__description__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo
            pellentesque risus diam nullam turpis. Nunc porttitor enim, sed
            fringilla convallis volutpat feugiat nam. Sit est arcu pretium diam
            dolor ut at mi. Purus montes, venenatis adipiscing nullam pulvinar
            tempor, pellentesque ac vulputate.
          </p>
        </div>
      </div>
      <button class="card-feature__button">HIRE FOR LIGHTING</button>
    </div>

    <div class="card-feature">
      <div class="card-feature__content__wrapper">
        <div class="card-feature__image__container">
          <img
            src="../../../assets/images/main-features/Rectangle 5 (3).png"
            alt=""
            class="card-feature__image"
          />
        </div>
        <div class="card-feature__description__container">
          <h3 class="card-feature__description__header">
            conference equipments
          </h3>
          <p class="card-feature__description__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo
            pellentesque risus diam nullam turpis. Nunc porttitor enim, sed
            fringilla convallis volutpat feugiat nam. Sit est arcu pretium diam
            dolor ut at mi. Purus montes, venenatis adipiscing nullam pulvinar
            tempor, pellentesque ac vulputate.
          </p>
        </div>
      </div>
      <button class="card-feature__button">HIRE FOR LIGHTING</button>
    </div>
  </div>
</section>

<section class="main-features-mobile">
  <h2 class="main-category-header">WHAT WE DO</h2>
  <swiper
    [config]="config"
  >
    <ng-template swiperSlide>
      <div class="card-feature">
        <div class="card-feature__content__wrapper">
          <div class="card-feature__image__container">
            <img
              src="../../../assets/images/main-features/Rectangle 5.png"
              alt=""
              class="card-feature__image"
            />
          </div>
          <div class="card-feature__description__container">
            <h3 class="card-feature__description__header">
              event sound equipment
            </h3>
            <p class="card-feature__description__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo
              pellentesque risus diam nullam turpis. Nunc porttitor enim, sed
              fringilla convallis volutpat feugiat nam,.
            </p>
          </div>
        </div>
        <button class="card-feature__button sound-equipment">
          HIRE FOR SOUND SYSTEM
        </button>
      </div>
    </ng-template>

    <ng-template class="swiper-slide" swiperSlide>
      <div class="card-feature">
        <div class="card-feature__content__wrapper">
          <div class="card-feature__image__container">
            <img
              src="../../../assets/images/main-features/Rectangle 5 (2).png"
              alt=""
              class="card-feature__image"
            />
          </div>
          <div class="card-feature__description__container">
            <h3 class="card-feature__description__header">staging</h3>
            <p class="card-feature__description__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo
              pellentesque risus diam nullam turpis. Nunc porttitor enim, sed
              fringilla convallis volutpat feugiat nam,.
            </p>
          </div>
        </div>
        <button class="card-feature__button">HIRE FOR LIGHTING</button>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="card-feature">
        <div class="card-feature__content__wrapper">
          <div class="card-feature__image__container">
            <img
              src="../../../assets/images/main-features/Rectangle 5 (1).png"
              alt=""
              class="card-feature__image"
            />
          </div>
          <div class="card-feature__description__container">
            <h3 class="card-feature__description__header">
              spark Event Lighting
            </h3>
            <p class="card-feature__description__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo
              pellentesque risus diam nullam turpis. Nunc porttitor enim, sed
              fringilla convallis volutpat feugiat nam,.
            </p>
          </div>
        </div>
        <button class="card-feature__button">HIRE FOR LIGHTING</button>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="card-feature">
        <div class="card-feature__content__wrapper">
          <div class="card-feature__image__container">
            <img
              src="../../../assets/images/main-features/Rectangle 5 (3).png"
              alt=""
              class="card-feature__image"
            />
          </div>
          <div class="card-feature__description__container">
            <h3 class="card-feature__description__header">
              conference equipments
            </h3>
            <p class="card-feature__description__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo
              pellentesque risus diam nullam turpis. Nunc porttitor enim, sed
              fringilla convallis volutpat feugiat nam,.
            </p>
          </div>
        </div>
        <button class="card-feature__button">HIRE FOR LIGHTING</button>
      </div>
    </ng-template>
  </swiper>
</section>
