<section class="main-partners-container">
  <div class="main-partners__header">
    <h2 class="main-category-header partners-header">our partners</h2>
    <button class="card-feature__button partners-btn">contact us</button>
  </div>
  <div class="card-feature__image__lines__container">
    <img
      src="../../../assets/images/partners/Group (4).png"
      alt=""
      class="card-feature__image__lines"
    />
  </div>
  <div class="main-partners-cards">
    <div class="main-partners-cards__row">
      <div class="main-cards__card__big">
        <div class="card-big__image__container">
          <img
            src="../../../assets/images/partners/image 5.png"
            alt=""
            class="card-big__image"
          />
        </div>
        <div class="card-big__image__link">
          <a class="card-big-external-link">sparkmedia.com</a>
          <a>
            <img
              src="../../../assets/images/partners/Group (3).png"
              alt="external-link-icon"
              class="card-icon__image"
            />
          </a>
        </div>
      </div>

      <div class="main-cards__card__big">
        <div class="card-big__image__container">
          <img
            src="../../../assets/images/partners/image 3.png"
            alt=""
            class="card-big__image"
          />
        </div>
        <div class="card-big__image__link">
          <a class="card-big-external-link">archive.music.com</a>
          <a>
            <img
              src="../../../assets/images/partners/Group (3).png"
              alt="external-link-icon"
              class="card-icon__image"
            />
          </a>
        </div>
      </div>

      <div class="main-cards__card__small">
        <div class="card-small__image__container">
          <img
            src="../../../assets/images/partners/image 8.png"
            alt=""
            class="card-small__image"
          />
        </div>
        <div class="card-big__image__link">
          <a class="card-big-external-link">songplay.xyz</a>
          <a>
            <img
              src="../../../assets/images/partners/Group (3).png"
              alt="external-link-icon"
              class="card-icon__image"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="main-partners-cards__row">
      <div class="main-cards__card__small">
        <div class="card-small__image__container">
          <img
            src="../../../assets/images/partners/image 4.png"
            alt=""
            class="card-small__image"
          />
        </div>
        <div class="card-big__image__link">
          <a class="card-big-external-link">soundbig.com</a>
          <a>
            <img
              src="../../../assets/images/partners/Group (3).png"
              alt="external-link-icon"
              class="card-icon__image"
            />
          </a>
        </div>
      </div>

      <div class="main-cards__card__big">
        <div class="card-big__image__container">
          <img
            src="../../../assets/images/partners/image 7.png"
            alt=""
            class="card-big__image"
          />
        </div>
        <div class="card-big__image__link">
          <a class="card-big-external-link">apolosound.xyz</a>
          <a>
            <img
              src="../../../assets/images/partners/Group (3).png"
              alt="external-link-icon"
              class="card-icon__image"
            />
          </a>
        </div>
      </div>

      <div class="main-cards__card__big">
        <div class="card-big__image__container">
          <img
            src="../../../assets/images/partners/image 2.png"
            alt=""
            class="card-big__image"
          />
        </div>
        <div class="card-big__image__link">
          <a class="card-big-external-link">cloudbase.com</a>
          <a>
            <img
              src="../../../assets/images/partners/Group (3).png"
              alt="external-link-icon"
              class="card-icon__image"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
