.main-blog-container {
  display: flex;
  flex-direction: column;
  padding: 0 150px;

  @include sm {
    padding: 0 1.875rem;
  }

  .main-header-blog {

    margin-top: 92px;

    @include sm {
      margin-top: 80px;
    }
  }

  .main-blog__info {
    margin-bottom: 122px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include sm {
      margin-bottom: 84px;
    }
  }

  .main-blog__wrapper {
    display: flex;
    justify-content: space-between;

    .main-blog__info:nth-child(2) {
      @include sm {
        display: none;
      }
    }

    .main-blog__info__image__container {
      width: 100%;
      max-width: 34.6875rem;
      min-width: 19.6875rem;
      min-height: 312px;

      .main-blog__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50px;
      }
    }

    .main-blog__info__title {
      max-width: 25.125rem;
      font-size: 1.875rem;
      line-height: 3rem;
      font-weight: 700;
      text-align: center;
      margin-bottom: 46px;

      @include sm {
        max-width: 315px;
      }
    }

    .title-second {
      max-width: 31rem;
      align-self: flex-start;
    }

    .main-blog__info__general {
      margin: 32px 0 18px 0;

      .info__general__tag {
        font-family: $font-stack-card;
        margin-right: 17px;
        font-size: font-size-function(font-size-extra-sm);
        line-height: 18px;
        padding: 4px 12px;
        background-color: #0e121b;
        box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
        border-radius: 36px;
      }

      .info__general__author {
        line-height: 1rem;
      }
    }

    .main-blog__info__link {
      cursor: pointer;
      border: 1px solid color-function(white);
      border-radius: 30px;
      display: inline-block;
      padding: 16.5px 21.6715px;

      .main-blog__link__text {
        font-family: $font-stack-card;
        font-size: font-size-function(font-size-sm);
        margin-right: 9px;
        font-weight: 500;
        line-height: 19px;
      }
    }
  }
}
