<section class="main-blog-container">
  <h2 class="main-category-header main-header-blog">blog</h2>
  <div class="main-blog__wrapper">
    <div class="main-blog__info">
      <div class="main-blog__info__image__container">
        <img
          src="../../../assets/images/blog/Rectangle (4).png"
          alt=""
          class="main-blog__image"
        />
      </div>
      <div class="main-blog__info__general">
        <span class="info__general__tag">Sound Record</span>
        <span class="info__general__author">John Doe &#9679; 19 Jan 2022</span>
      </div>
      <div class="main-blog__info__title">
        Gesture for the people and the culture many people
      </div>
      <div class="main-blog__info__link">
        <a class="main-blog__link__text">Read More</a>
        <a>
          <img
            src="../../../assets/images/partners/Group (3).png"
            alt="external-link-icon"
            class="link-icon__image"
          />
        </a>
      </div>
    </div>
    <div class="main-blog__info">
      <div class="main-blog__info__image__container">
        <img
          src="../../../assets/images/blog/Rectangle (5).png"
          alt=""
          class="main-blog__image"
        />
      </div>

      <div class="main-blog__info__general">
        <span class="info__general__tag">Stage Show</span>
        <span class="info__general__author">John Doe &#9679; 19 Jan 2022</span>
      </div>
      <div class="main-blog__info__title title-second">
        Mostly metaverse is only as good as its tools and it is totally true.
      </div>
      <div class="main-blog__info__link">
        <a class="main-blog__link__text">Read More</a>
        <a>
          <img
            src="../../../assets/images/partners/Group (3).png"
            alt="external-link-icon"
            class="link-icon__image"
          />
        </a>
      </div>
    </div>
  </div>
</section>
